body.login { 
  background: url("space1.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}	  

body.station {
background: url("station.jpg") no-repeat center center fixed;
-webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;

}

body.register {
    background: url("charater.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body.profile {
background: url("charater.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



.center {
text-align: center;
color: #F8F8F8;
font-size: 70px;
font-family: ‘Arial Narrow’, sans-serif;
text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}


input[type=radio] {
    width: 10%;
    height: 1em;
    margin-left: auto;
    margin-right: auto;
}


li.resources{
display: inline; 
font-size: 12px;
color: white;
font-family: ‘Arial Narrow’, sans-serif;
border: 2px solid white;
}

ul{
    list-style-type: none;
}

p{
font-size: 15px;
color: white;
font-family: ‘Arial Narrow’, sans-serif;
}


p1{
font-size: 20px;
text-align: center;
font-family: ‘Arial Narrow’, sans-serif;
}


p2{
   font-size:25px;
   display:block;
   transition: background .50s ease-in-out;
   -moz-transition: background .50s ease-in-out;
   -webkit-transition: background .50s ease-in-out;
   }

p3{
font-size: 15px;
text-align: center;
color: #F8F8F8;
font-family: ‘Arial Narrow’, sans-serif;
}
	  

 div#banner { 
       top: 0; 
       left: 0; 
       width: 100%; 
       position: absolute;
       width: 800px; 
       margin: 0 auto; 
       padding: 10px;  
     }
    
    
body.Human { background: url("human.jpg") no-repeat center center fixed;
-webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;

}

body.Petrians { background: url("petrians.jpg") no-repeat center center fixed;
-webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;

}

body.Allozinates { background: url("allozinates.jpg") no-repeat center center fixed;
-webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;

}

body.Poseons { background: url("poseons.jpg") no-repeat center center fixed;
-webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;

}
  
body.Sciren { background: url("sciren.jpg") no-repeat center center fixed;
-webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;

}
 
body.Entomoids { background: url("entomoids.jpg") no-repeat center center fixed;
-webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;

}


#button {
position:relative;
left:38%;
width:250px;
height:50px;
line-height:27px;
display:block;
margin:15px 0 0 10px;
text-align:center;
list-style-type: none;
font-size:40px;
color: white;
font-family: ‘Arial Narrow’, sans-serif;
list-style-type: none;
text-align: center;
}
#two {
background: none repeat scroll 0 0 #EEEEEE;
color: #333333;
width:150px;
height: 0;
overflow:hidden;
left: 0;
font-size: 20px;
line-height: 20px;
position: absolute;
top: 30px;
display:block;
position:fixed;
top: 25px;
left:50px;
-webkit-transition: all .3s ease;
-moz-transition: all .3s ease;
-ms-transition: all .3s ease;
-o-transition: all .3s ease;
transition: all .3s ease;

}
#button:hover > #two {
display:block;
position:fixed;
top: 25px;
left:50px;
height:550px;
width:350px;
}

#two.humans{
    background: url("human.jpg") no-repeat center;
    color:white;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background:rgba(0,0,0,0.5);
}

#two.petrians{
    background: url("petrians.jpg") no-repeat center;
    color:white;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background:rgba(0,0,0,0.5);
}

#two.allozinates{
    background: url("allozinates.jpg") no-repeat center;
    color:white;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background:rgba(0,0,0,0.5);
}

#two.poseons{
    background: url("poseons.jpg") no-repeat center;
    color:white;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background:rgba(0,0,0,0.5);
}

#two.sciren{
    background: url("sciren.jpg") no-repeat center;
    color:white;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background:rgba(0,0,0,0.5);
}

#two.entomoid{
    background: url("entomoids.jpg") no-repeat center;
    color:white;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background:rgba(0,0,0,0.5);
}