
html { 
  background: url("space1.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.station {
background: url("station.jpg") no-repeat center center fixed;
-webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;
}

input[type=radio] {
    width: 3%;
    height: 2em;
    margin-left: auto;
    margin-right: auto;
}

.center {
text-align: center;
color: #F8F8F8;
font-size: 45px;
font-family: ‘Arial Narrow’, sans-serif;
text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}


.button{
width:100px;height:35px;
}

ul{
font-size: 40px;
color: white;
font-family: ‘Arial Narrow’, sans-serif;
list-style-type: none;
text-align: center;
}

li {
text-align: center;
}

p{
font-size: 15px;
color: white;
font-family: ‘Arial Narrow’, sans-serif;
}


p1{
font-size: 25px;
text-align: center;
color: #F8F8F8;
font-family: ‘Arial Narrow’, sans-serif;
}

p2{
   font-size:25px;
   display:block;
   transition: background .50s ease-in-out;
   -moz-transition: background .50s ease-in-out;
   -webkit-transition: background .50s ease-in-out;
   }

p3{
font-size: 15px;
text-align: center;
color: #F8F8F8;
font-family: ‘Arial Narrow’, sans-serif;
}
	  
	  
	  
	  
