
<div id="1" class="center"></div>
<title>Infinite Space</title>
<p3>
    <!-- LOCAL INFORMATION -->
    <a href="/profile">
        <button type="submit" class="btn btn-default">Profile</button>
    </a>

</p3>
<h1 class="center">
    <!--search bar-->
    This is the admin page!!


</h1>


<div id="1" class="center">
    <p2>
        <a href="/logout">
            <button type="submit" class="btn btn-default">Log Out</button>
        </a>
    </p2>

</div>





