	<div id= "1" class="center">
		<title>Unlimited Space</title>
		<h1 class="center">Infinite Space</h1>
        <p id="errorMes"></p> 
	</div>

<script type="text/javascript">
       
    function vForm() {
           
            var y = document.forms["myForm"]["password"].value;
            var z = document.forms["myForm"]["email"].value;

            if (z == '' || z.indexOf('@') == -1 || z.indexOf('.') == -1) {
                // alert("please use valid email");
                document.getElementById('errorMes').innerHTML = 'please use valid email';
                return false;
            }else if (y == null || y == "") {
                // alert("password must be filled out");
                document.getElementById('errorMes').innerHTML = 'password must be filled out';
                return false;
           
            } else {
                return true;
            }
    }

</script>

	<p1>
    {{#if error}}
    <div class="center">{{error}}</div>
    {{/if}}
    <form name="myForm" onsubmit="return vForm()" method="post" action="/">

        <label for="Email"></label>
        <input type="text" id="email" name="email" placeholder="Enter Email" /><br />

        <label for="Password"></label>
        <input type="password" id="Password" name="password" placeholder="Enter Password" /><br />
        <button type="submit" value="Submit">Submit</button>
    </form>
    <form name="fReg" action="register"><input type=submit value="Register"><a href="register"></form>
     </p1>
	
  
