	<div id= "1" class="center">
		<title>Unlimited Space</title>
		<h1>Infinite Space</h1>
	</div>

	<p1>
	<form method="post" action="SignIn.php">
	
    <label for="Name">Name:</label>
    <input type="text" id="Name" name="Name" /><br />
	
    <label for="Password">Password:</label>
    <input type="password" id="Password" name="Password" /><br />
	
	<input type="submit" name="submit" value="Log In" />
    </form>
	</p1>


<div id= "1" class="center">
	<p2>
	<FORM action="register"><INPUT type=submit value="Register"><a href="register" ></a>
	</FORM>
	</p2>
	
  </div>
