	<div id= "1" class="center">
		<title>Unlimited Space</title>
		<h1 class="center">Infinite Space</h1>
	</div>

<br>
<br>

	<p1>
    {{#if error}}
        <div class="center">{{error}}</div>
    {{/if}}
	<form method="post" action="/">
	
    <label for="Name"></label>
        <input type="text" id="email" name="email" placeholder="Enter email" /><br />
	

    <label for="Password"></label>
        <input type="password" id="password" name="password" placeholder="Enter Password" /><br />
        <br>    <button method="post" action="/"  type="submit" class="btn btn-default">Sign In</button>
	
    </form>
	</p1>


<div id= "1" class="center">
	<p2>
       
	<FORM action="register"><button type="submit" class="btn btn-default">Register</button>
	</FORM>
	</p2>
	
  </div>
