
    <div id="1" class="center">
    <title>Infinite Space</title>
    <h1>Profile</h1>
</div>
</head>
{{#if error}}
<div class="center">{{error}}</div>
{{/if}}
<p1>
    <!-- LOCAL INFORMATION -->
        <strong>id</strong>: <%= user._id %><br>
        <strong>email</strong>: <%= user.local.email %><br>
        <strong>password</strong>: <%= user.local.password %>
</p1>


<div id="1" class="center">
    <p2>
            <form action="/">
                <input type=submit value="SignOut"><a href="/"></a>
            </form>
    </p2>

</div>
    
         


     
