
    <div id="1" class="center">
    <title>Infinite Space</title>
    <h1>Profile</h1>
</div>
{{#if error}}
<div class="center">{{error}}</div>
{{/if}}
<p1>
    <!-- LOCAL INFORMATION -->
    <div class="center">PlayerName:{{user}}</div>
    
</p1>


<div id="1" class="center">
    <p2>
            <form action="/">
                <input type=submit value="SignOut"><a href="/"></a>
            </form>
    </p2>

</div>
    
         


     
