<head>
<link rel="stylesheet" type="text/css" href="SpaceGame.css">

	<div id= "1" class="center">
		<title>Infinite Space</title>
		<h1>Register</h1>
	</div>
</head>
    {{#if error}}
    <div class="center">{{error}}</div>
    {{/if}}
	<p1>

        <form method="post" action="/register">

            <label for="PlayerName"></label>
            <input type="text" id="PlayerName" name="PlayerName" placeholder="Enter A Player Name" /><br />

            <label for="Email"></label>
            <input type="text" id="Email" name="Email" placeholder="Enter Email" /><br />

            <label for="Password"></label>
            <input type="password" id="Password" name="Password" placeholder="Enter Password" /><br />

            <button type="submit" class="btn btn-default">Submit</button>
        </form>
	</p1>


<div id= "1" class="center">
	<p2>
	<FORM action="/"><button type="submit" class="btn btn-default">Home</button>
	</FORM>
	</p2>
	
  </div>
