<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" type="text/css" href="SpaceGame.css">
	<div id= "1" class="center">
		<title>Unlimited Space</title>
		<h1>Register</h1>
	</div>
</head>
    {{#if error}}
    <div class="center">{{error}}</div>
    {{/if}}
	<p1>
	<form method="post" action="/stationcreate">
	
	{{!<label for="Station">Station Name:</label>}}
    {{!<input type="text" id="Station" name="Station" /><br />}}
	
    <label for="Email">Email:</label>
    <input type="text" id="Email" name="Email" /><br />

    <label for="Password">Password:</label>
    <input type="password" id="Password" name="Password" /><br />

    {{!<label for="playerName">Player Name:</label>}}
    {{!<input type="text" id="playerName" name="playerName" /><br />}}
        	
	<button type="submit">Register</button> 
    </form>
	</p1>


<div id= "1" class="center">
	<p2>
	<FORM action="/"><INPUT type=submit value="LogIn"><a href="/" ></a>
	</FORM>
	</p2>
	
  </div>


<body>

</body>
</html>