<head id="1" class="center">
    <link rel="stylesheet" type="text/css" href="SpaceGame.css">

    <title class="center">Unlimited Space</title>
</head>


        <h1 id="1" class="center">Create A Station</h1>
    


    {{#if error}}
<div class="center">{{error}}</div>
    {{/if}}
<p1>
    <form method="post" action="/stationcreate">
        
        

        <label for="Station">Station Name:</label>
        <input type="text" id="StationName" name="StationName" /><br />


        <ul>
             
                <li><input type="radio" name="race" value="Human">Human<br></li>
                <li><input type="radio" name="race" value="Petrians">Petrians<br></li>
                <li><input type="radio" name="race" value="Allozinates">Allozinates<br></li>
                <li><input type="radio" name="race" value="Poseons">Poseons<br></li>
                <li><input type="radio" name="race" value="Sciren">Sciren<br></li>
                <li><input type="radio" name="race" value="Entomoid">Entomoids</li>
               
      </ul>

        <button type="submit">Create Station</button>
    </form>
</p1>

<div id="1" class="center">
    <p2>
        <form action="/">
            <input type=submit value="Home"><a href="/"></a>
        </form>
    </p2>

</div>



