<div id="1" class="center">
    <title>Unlimited Space</title>
    <h1>Infinite Space</h1>
</div>
<p1>
    {{#if error}}
    {{error}}
    {{/if}}
    <form method="post" action="/">

        <label for="Name">Email:</label>
        <input type="text" id="Email" name="Email" /><br />

        <label for="Password">Password:</label>
        <input type="password" id="Password" name="Password" /><br />

        <input type="submit" name="submit" value="Log In" />
    </form>
</p1>

<div id="1" class="center">
    <p2>
        <form action="register">
            <input type=submit value="Register"><a href="register"></a>
        </form>
    </p2>

</div>
