<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="SpaceGame2.css">
    <div id="1" class="center">
        <title>Unlimited Space</title>
        <h1>Create A Station</h1>
    </div>
</head>
    {{#if error}}
<div class="center">{{error}}</div>
    {{/if}}
<p1 class="blocktext">
    <form method="post" action="/stationcreate">
        
        <label for="Station">Station Name:</label>
        <input type="text" id="Station" name="Station" /><br />


            <input type="radio" name="race" value="Human">Human<br>
            <input type="radio" name="race" value="Petrians">Petrians<br>
            <input type="radio" name="race" value="Allozinates">Allozinates<br>
            <input type="radio" name="race" value="Poseons">Poseons<br>
            <input type="radio" name="race" value="(Science People)">Science People<br>
            <input type="radio" name="race" value="(Insect People)">Insect People<br>
      

        <button type="submit">Create Station</button>
    </form>
</p1>


<div id="1" class="center">
    <p2>
        <form action="/">
            <input type=submit value="Home"><a href="/"></a>
        </form>
    </p2>

</div>


<body>

</body>
</html>