<!doctype html>
<html>
<head>
	<title>Infinate Space</title>
	<link rel="stylesheet" type="text/css" href="SpaceGame.css">
	<script>
</script>
</head>
<body>
	
	{{{body}}}
	
</body>


	{{!<audio id="playTune" autoplay loop>}}
    {{!<source src="space.mp3">}}
</html>