<!doctype html>
<html>
<head>
	<title>Infinate Space</title>
	<link rel="stylesheet" type="text/css" href="SpaceGame.css">
	<script>
</script>
</head>
<body>
    {{#if flash}}
        {{!-<div class="alert alert-dismissible alert-{{flash.type}}"><button type="button" class="close" data-dismiss="alert" aria-hidden="true"> &times; </button>}}
    
            <strong>{{flash.intro}}</strong> {{{flash.message}}}
        </div>
    {{/if}}


	{{{body}}}
	
</body>


	{{!<audio id="playTune" autoplay loop>}}
    {{!<source src="space.mp3">}}
</html>